@model Oze.Models.CustomerArriveManage.ArriveDefault
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<link rel="stylesheet" href="~/Themes/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/Content/Oze.css">
<link rel="stylesheet" href="~/Content/hungpvCustom.css">
<!--<link rel="stylesheet" href="https://datatables.net/media/css/site.css?_=b05357026107a2e3ca397f642d976192" />-->
<div class="tab-title">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Quản lý NCC" role="tab" data-toggle="tab">Quản lý danh sách khách hàng đang ở</a></li>
    </ul>
</div>
<div class="row">
    <form id="formSearch" class="form-horizontal MarginTop20">
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" style="text-align:left">Họ tên khách hàng </label>
                <div class="col-md-8">
                    <input type="text" placeholder="Họ tên khách hàng" class="form-control" id="searchCustomerName" name="searchCustomerName">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" style="text-align:left">Số điện thoại</label>
                <div class="col-md-8">
                    <input type="text" placeholder="Số điện thoại" class="form-control" id="searchPhone" name="searchPhone">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" style="text-align:left">Số CMT/Passport</label>
                <div class="col-md-8">
                    <input type="text" placeholder="Số CMT/Passport" class="form-control" id="searchTax_Passpor" name="searchTax_Passpor">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" style="text-align:left">Email</label>
                <div class="col-md-8">
                    <input type="text" placeholder="Email" class="form-control" id="searchEmail" name="searchEmail">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" style="text-align:left">Hạng phòng</label>
                <div class="col-md-8">
                    <select id="RoomType" name="RoomType" class="form-control">
                        <option value="0">--Chọn hạng phòng--</option>
                        @for (int i = 0; i < @Model.listRoomTypes.Count; i++)
                        {
                            <option value="@Model.listRoomTypes[i].Id">@Model.listRoomTypes[i].Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" style="text-align:left">Số phòng</label>
                <div class="col-md-8">
                    <select id="Room" name="Room" class="form-control">
                        <option value="0">--Chọn phòng--</option>
                        @for (int i = 0; i < @Model.ListRooms.Count; i++)
                        {
                            <option value="@Model.ListRooms[i].Id">@Model.ListRooms[i].Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        @*<div class="col-md-6 .col-sm-3 ">
                <div class="form-group form-group-sm" style="position:relative;">
                    <label class="col-md-4 control-label" style="text-align:left">Từ ngày (<font color="red">*</font>)</label>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm date-search-picker_fdate" id="SearchPeriodFormdate">
                            <input type="text" placeholder="Từ ngày" class="form-control" id="SearchFdate">
                            <span class="input-group-addon input-group-addon-custom">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <input type="checkbox" id="checkDate" name="checkDate" />
            </div>
            <div class="col-md-6 ">
                <div class="form-group form-group-sm">
                    <label class="col-md-4 control-label" style="text-align:left">Tới ngày (<font color="red">*</font>)</label>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm date-search-picker_tdate" id="SearchPeriodFormdate">
                            <input type="text" placeholder="Từ ngày" class="form-control" id="SearchTdate">
                            <span class="input-group-addon input-group-addon-custom">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class=" col-md-offset-10">
            <button id="btnSearch" class="btn btn-info btn-sm" type="button">Tìm kiếm</button>
            <button id="btnRefresh" class="btn btn-sm btn-df" type="reset">Làm mới</button>
        </div>

    </form>
    @*<section>
            <input id="txtSearch" type="text" placeholder="Search" /> <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm" onclick='javascript: editDialog(0);' style="float: right">Thêm mới</button>
        </section>*@
    <div class="col-md-12">
        <table id="example" style="overflow: scroll;" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ và tên khách hàng</th>
                    <th>Mã đặt phòng</th>
                    <th>Hạng phòng</th>
                    <th>Số phòng</th>
                    <th>Số CMT/Passpor</th>
                    <th>Ngày vào</th>
                    <th>Ngày Ra</th>
                    <th style="width: 12%">Thao tác</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- Modal For CRUID -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <p>Loading...</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-default">Save</button> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="xModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><label id="TittleBox">Thông tin khách hàng</label></h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <p>Loading...</p>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnUndoRoom" class="btn btn-primary" type="button"><i class="fa fa-check"></i> Lưu</button>
                <button id="btnChangeRoom" class="btn btn-primary" type="button"><i class="fa fa-check"></i> Lưu</button>
                <button id="btnUpdateDetail" class="btn btn-primary" type="button"><i class="fa fa-check"></i> Lưu</button>
                <button type="button" class="btn btn-df" data-dismiss="modal"><i class="fa fa-reply"></i>Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/oze.CustomerArriveManage.js"></script>
<script src="~/Scripts/oze/oze.ReservationRoom1.js"></script>
<script>
    var g_Reservation= new ReservationRoom();    
</script>
<script type="text/javascript">
    var $table;
    var addDays = function () {
        var dat = new Date();
        dat.setDate(dat.getDate() + parseInt(-30));

        return new Date(dat);
    }
    $(document).ready(function () {
       

        toggleMenu("menu_letan");
    
        $("#btnSearch")
            .click(function () {
                $table.ajax.reload();
            });
        /*  Description: Cấu hình Mask datetime
   Author: hungpv  */
        $(".date-search-picker_fdate").datetimepicker({
            //debug:true,
            //locale: 'vi',
            format: 'DD/MM/YYYY',
            showTodayButton: true,
            maxDate: new Date(),
            defaultDate: addDays(),
            showClose: false

        });

        $(".date-search-picker_tdate").datetimepicker({
            //locale: 'vi',
            format: 'DD/MM/YYYY',
            showTodayButton: true,
            maxDate: new Date(),
            defaultDate: new Date(),
            showClose: false
        });

        showDialogLoading();
        $table = $('#example').DataTable({
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            "processing": true,
            "serverSide": true,
            "initComplete": function (settings, json) {
                hideDialogLoading();
                //alert( 'DataTables has finished its initialisation.' );
                //okoko
            },
            /*bFilter: false, bInfo: false,*/
            "dom": '<"top">rt<"bottom" lip><"clear">',
            "ajax": {
                "url": "/CustomerArriveManage/List",
                "data": function (d) {
                    d.columns = "";
                    d.search = $("#txtSearch").val();
                    d.Name = $("#formSearch :input[name='searchCustomerName']").val();
                    d.Email = $("#formSearch :input[name='searchEmail']").val();
                    //d.Fdate = $("#formSearch :input[id='SearchFdate']").val();
                    //d.Tdate = $("#formSearch :input[id='SearchTdate']").val();
                    d.Phone = $("#formSearch :input[name='searchPhone']").val();
                    d.Tax_Passpor = $("#formSearch :input[name='searchTax_Passpor']").val();
                    d.CheckDate = $('input[name=checkDate]:checked', '#formSearch').val();
                    d.RooTypeID = $("#formSearch :input[name='RoomType']").val();
                    d.RoomID = $("#formSearch :input[name='Room']").val();
                }
            },
            "columns":
                [
                {
                    "data": null, render: function (data, type, row, infor) {
                        return $table.page.info().page + infor.row + 1;
                    }
                },
               { "data": "CustomerName", "orderable": "false" },
                { "data": "BookingCode", "orderable": "false" },
                 { "data": "RoomTypeName", "orderable": "false" },
                  { "data": "RoomName", "orderable": "false" },
                { "data": "IdentifyNumber", "orderable": "false" },
                {
                    "data": null, render: function (data, type, row, infor) {
                        return row.Arrive_Date === null ? "" : moment(new Date(parseInt(row.Arrive_Date.slice(6, -2)))).format("DD-MM-YYYY");
                    }
                },
                {
                    "data": null, render: function (data, type, row, infor) {
                        return row.Leave_Date === null ? "" : moment(new Date(parseInt(row.Leave_Date.slice(6, -2)))).format("DD-MM-YYYY");
                    }
                },

                {
                    "data": null, render: function (data, type, row, infor) {
                        /*
                        return "<div style='width:10px;display:inline'><a title='Thông tin đặt phòng'  href='javascript:viewInfoDialog(" + row.Id + ")'><img src='/images/icon/icon-view.png' style='border: none;'></a></div>"
                            + "&nbsp;<div style='width:10px;display:inline'><a title='Thêm người ở cùng'  href='javascript:AddUsingRoomDialog(" + row.CheckInID + ")'><img src='/images/icon/icon-add.png' style='border: none;'></a></div>"
                            + "&nbsp;<div style='width:10px;display:inline'><a title='Đổi phòng'  href='javascript:ExChangeDialog(" + row.Id + ")'><img src='/images/icon/icon-doiphong.png' style='border: none;'></a></div>"
                        + "&nbsp;<div style='width:10px;display:inline'><a title='Trả phòng'   href='javascript:UndoRoomDialog(" + row.CheckInID + ")'><img src='/images/icon/icon-traphong.png' style='border: none;'></a></div>";
                        */
                        var htmlMenu =
                       '<div class="edit-delete-table">' +
                           '<div class="edit-table" data-toggle="modal" data-backdrop="static"  onclick="javascript:AddUsingRoomDialog(' + row.CheckInID + ')">' +
                               '<img src="/images/icon/icon-add.png" style=" border: none;" title="Thêm bạn cùng phòng">' +
                           '</div>' +
                           '<div class="delete-table" data-toggle="modal" data-backdrop="static" onclick="javascript:UndoRoomDialog(' + row.CheckInID + ')">' +
                               '<img src="/images/icon/icon-traphong.png" style=" border: none;" title="Trả phòng">' +
                           '</div>' +
                           '<div class="delete-table" data-toggle="modal" data-backdrop="static" onclick="javascript:viewInfoDialog(' + row.Id + ')">' +
                                      '<img src="/images/icon/icon-view.png" style=" border: none;" title="Thông tin chi tiết">' +
                           '</div>' +
                           '<div class="delete-table" data-toggle="modal" data-backdrop="static" onclick="javascript:ExChangeDialog(' + row.Id + ')">' +
                                              '<img src="/images/icon/icon-doiphong.png" style=" border: none;" title="Đổi phòng">' +
                           '</div>' +
                       '</div>';
                        return htmlMenu;
                        
                    }
                }
                ]
        });
        $("#txtSearch").keypress(function (e) {
            if (e.which == 13) {
                searchGrid();
            }
        });
    });
</script>
