
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Root.cshtml";
}


@model Oze.Models.SysUserModel

<style>
    th {
        text-align: center;
    }

    #divCreateUser {
        display: none;
    }

    #divEditUser {
        display: none;
    }

    .group-bt-modal {
        display: flex;
        float: right;
        white-space: nowrap;
    }

        .group-bt-modal button {
            margin-top: 0px !important;
        }

    #btnCreateUser {
        display: none;
    }

    #btnSave {
        display: none;
    }

    .alert {
        text-align: left;
    }

    #thongbao {
        float: left;
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        text-align: -webkit-left;
        height: 0px;
    }

    #listGroup {
        padding-top: 10px;
        padding-top: 15px;
        display: none;
    }

        #listGroup input[type="checkbox"] {
            margin-right: 8px;
            margin-top: 4px;
        }

    #showlistQuyen {
        display: none;
    }

    .col-sm-9 label {
        color: red;
        font-size: 11px;
    }
</style>
<script>
        var m_Title = '@ViewBag.Title';
</script>
<!-- DataTables -->
<link rel="stylesheet" href="~/Themes/plugins/datatables/dataTables.bootstrap.css">

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmSysUser", @name = "frmSysUser" }))
{
    <div class="form-horizontal">
        <h3>Danh sách User Hệ Thống</h3>
        <div class="modal" id="mdModify" tabindex="-1" role="dialog" aria-labelledby="lblTitle">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="lblTitle"></h4>
                    </div>

                    <div class="modal-body">
                        <div class="modal-body-content">
                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Tên đăng nhập:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtusername" name="txtusername" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Mật khẩu:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtpass" name="txtpass" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Nhập lại mật khẩu:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtrepass" name="txtrepass" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Bộ phận</label>
                                <div class="col-sm-9">
                                    @if (ViewData.ContainsKey("UsertHotel"))
                                    {
                                        @Html.DropDownList("cbxChonUser", ViewData["UsertHotel"] as List<SelectListItem>, new { @id = "cbxChonUser", @name = "cbxChonUser", @class = "form-control" })
                                    }
                                </div>
                            </div>

                            <div class="form-group" id="showlistQuyen">
                                <label for="lblnameks" class="col-sm-3 control-label">Quyền</label>
                                <div class="col-sm-9">
                                    <button type="button" class="btn btn-block btn-warning btnChangeEdit" id="btnShowGroupQuyen">Hiện thị quyền</button>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9" id="listGroup"></div>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Họ và tên</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtname" name="txtname" placeholder="Họ và tên của user">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Số CMT:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtcmt" name="txtcmt" placeholder="Số chứng minh thư hoặc hộ chiếu">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Địa chỉ</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtAddress" name="txtAddress" placeholder="Địa chỉ">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Số điện thoại</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtphone" name="txtphone" placeholder="Số điện thoại">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lblnameks" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email">
                                </div>
                            </div>

                            

                            

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input id="cboactive" name="cboactive" type="checkbox" checked="checked"> Kích hoạt
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <div id="thongbao" class="group-bt-modal"></div>
                                <div class="group-bt-modal col-lg-5 col-xs-5">
                                    <button id="btnCreateUser" type="button" class="btn btn-block btn-warning btn-flat btn-save">Thêm mới</button>
                                    <button id="btnSave" type="button" class="btn btn-block btn-warning btn-flat btn-save">Lưu</button>
                                    <button id="btnCancel" type="button" class="btn btn-block btn-warning btn-flat" data-dismiss="modal">Quay lại</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<div class="box-body">

    <div class="clearfix"></div>
    <table class="table table-bordered table-striped .table-hover" id="GridGroup">

        <thead>
            <tr>
                <th>Tên User</th>
                <th>Tài khoản</th>
                <th>CMT/HC(s)</th>
                <th>Mobile</th>
                <th>Khách sạn</th>
                <th>Bộ phận</th>
                <th>Trạng thái</th>
                <th>Active</th>
                <td class="edit-row-header">Edit</td>
                <td class="delete-row-header">Delete</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var obj in (List<Oze.Models.SysUserModel>)ViewBag.ListSysUser)
                {
                    <tr>
                        <td>@obj.FullName</td>
                        <td>
                            @obj.UserName
                        </td>
                        <td>@obj.IdentityNumber</td>
                        <td>@obj.Mobile</td>
                        <td>@obj.NameSysHotelID</td>
                        <td></td>
                        <td>
                            @if (@obj.Status == 1)
                            { <span>Đang làm viêc</span> }
                            else if (@obj.Status == 2)
                            {
                                <span>Nghỉ phép</span>
                            }
                            else
                            {
                                <span>Rời công ty</span>
                            }
                        </td>
                        <td>
                            @if (@obj.IsActive == 1)
                            { <span>Kích hoạt</span> }
                            else
                            {
                                <span>Chưa kích hoạt</span>
                            }
                        </td>
                        <td><button class="btn btn-block btn-warning btnChangeEdit" onclick="GetValueInforEdit(@obj.ID)">Chỉnh sửa</button></td>
                        <td><button class="btn btn-block btn-warning btnChangeEdit" onclick="GetValueInforDelete(@obj.ID)">Xóa</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<div>
    @Html.ActionLink("Back to List", "../")
</div>

<div class="modal fade" id="modalthongbao" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông Báo</h4>
            </div>
            <div class="modal-body">
                <h2 id="messthongbao" style="color:red"> </h2>
            </div>
            <div id="footerShowModal" class="modal-footer">
                <button type="button" id="btnclose" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/oze/SysUser/oze_CreateNhanvien.js"></script>
<!-- DataTables -->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
@*<script src="~/Scripts/oze/oze.group.js"></script>*@


