<section>                
        <div class="form-group row">
            <label for="lblnameks" class="col-sm-3 control-label">Mã</label>
            <div class="col-sm-9">
                @Model.Code
            </div>
        </div>
        <div class="form-group row">
            <label for="lblnameks" class="col-sm-3 control-label">Tên</label>
            <div class="col-sm-9">
                @Model.Name
            </div>
        </div>
        <div class="form-group row">
            <label for="lblnameks" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                @Model.Email
            </div>
        </div>
        <div class="form-group row">
            <label for="lblnameks" class="col-sm-3 control-label">Email liên hệ</label>
            <div class="col-sm-9">
                @Model.Contact_Person_Email
            </div>
        </div>

        <div class="form-group row">
            <label for="lblnameks" class="col-sm-3 control-label">Tên liên hệ</label>
            <div class="col-sm-9">
                @Model.Contact_Person_Name
            </div>
        </div>
        <div class="form-group row">
            <label for="lblnameks" class="col-sm-3 control-label">SĐT liên hệ</label>
            <div class="col-sm-9">
                @Model.Contact_Person_Phone
            </div>
        </div>                    
           
        <div class="form-group row">
            <label for="lblnameks" class="col-sm-3 control-label">Địa chỉ</label>
            <div class="col-sm-9">
                @Model.Address
            </div>
        </div>
</section>