@using Oze.Models;
@using Oze.AppCode.DAL;
@model oze.data.tbl_ProductGroup

   
    <div>
        <form id="dummyProductGroup" action="javascript:void();">
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <label for="lblnameks" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                </div>
            </div>
            <div class="form-group row">
                <label for="lblnameks" class="col-sm-3 control-label">Tên</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Name" required="1" maxlength="50" name="Name" value="@Model.Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="lblnameks" class="col-sm-3 control-label">Trạng thái</label>
                <div class="col-sm-9">
                    <select id="Status" name="Status">
                        <option value="1" @(Model.Status==1?"selected":"")>Sử dụng</option>
                        <option value="0" @(Model.Status==0?"selected":"")>Không sử dụng</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="lblnameks" class="col-sm-3 control-label">Mô tả</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" required="1">
                </div>
            </div>
        </form>
    </div>
<!--<script src="~/Scripts/oze/SysUser/oze_Supplier.js"></script>-->